*{
    font-family:'Courier New', Courier, monospace ;
}


body{
    height:100vh;
    background-image:linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.8)),
    url("/Project/Food-Website/Images/bg2.jpg");
    background-position:center;
    background-size:cover;
    overflow-x:hidden;
    position:relative;
}

.member1{
    color: aliceblue;
}

.list{
    max-width: 175px;
}