*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.hero{
    height:100vh;
    background-image:linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.8)),
    url("/Project/Food-Website/Images/bg01.jpg");
    background-position:center;
    background-size:cover;
    overflow-x:hidden;
    position:relative;
}
.nav-bar{
    display:flex;
    padding:40px 120px;
    justify-content:center;
    align-items:center;
}
.nav-logo img{
    border-radius:30px;
    height: 100px;
    width: 100px;
}

.nav-links{
    flex:1;
}
.nav-links ul{
    margin-left:50px;
    display: flex;  

}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 25px;
}
.nav-links ul a{
    color:white;
    text-decoration:underline;
    font-size:13px;
}
.nav-links ul li::after{
    content:"";
    width:0;
    background:yellow;
    height:2px;
    display:block;
    margin:auto;
    transition:.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.btn{
    padding: 10px 20px;
    border:0;
    background:yellow;
    font-weight:bold;
    cursor:pointer;
    border-radius: 30px;
   
}
.nav-links .btn{
    float:right;
}
.banner-title{
margin:120px;
color:#fff;
}
.banner-title h1{
    font-size:64px;
    margin-bottom:30px;
    }
     .banner-title h1 span{
        color:yellow;
        }
  .vertical-bar{
   height:100%;
   /* background:ff5252; */
    background:#00000073;
    top:0;
    left:0;
    position:absolute;
    width: 40px;
    justify-content: center;
    }


.search img{
    width: 35px;
    height: 35px;
    padding-left: 1px;
    padding-top: 20px;
}

.notify img{
    width: 35px;
    height: 35px;
    padding-left: 1px;
    margin-top: 8px;
    padding-top: 10px;
}

.yt img{
    width: 40px;
    height: 35px;
    padding-left: 1px;
    margin-top: 8px;
    padding-top: 10px;
    justify-content: center;
}
    .search-icon{
        height:60%;
        width:70px;
    }
      .search-icon .fa{
          font-size:25px;
          color:white;
          display:block;
          height: 300px;
          cursor:pointer;
          margin:45px 23px;
      }
      .social-icon {
        margin-top: 250px;
        height:45%;
        width:40px;
        background:yellow;
       
        text-align:center;
        padding-top:27%;
        padding-bottom:0;
        position:absolute;
    }
    .social-icon .fa{
        margin:15px 23px;
        display:block;
        padding:8px;
        width: 15px;
        height: 15px;
    }

    .social-icon i{
        padding-bottom: 3px;
        display:inline-block;
        width: 40px;
        height: 40px;
    }

    .social-icon img{
            display: inline;
            justify-content: space-between;
            width: 40px;
            height: 40px;
    }

    .insta img{
        width: 35px;
        height:35px;
        border-radius: 900px;
    }

    .pin img{
        width:35px;
        height: 35px;
    }

    .notifications{
        display:flex;
        width:400px;
       
        right:0;
        bottom:0;
        position:absolute;
        background:yellow;
        align-items:center;
    }
      .contents{
          flex-basis:50%;
          padding:10px;
      }      
      
      .notifications-img{
        flex-basis:50%; 
    }  
    .notifications-img img{
       
        width:100%; 
    }  
    .contents a{
        text-decoration:none;
        color:#000;
        font-size:13px;
        margin:0 10px;
    }
    .contents p{
        text-align:right;
        margin-top:10px;
    }
     
    .nav-bar .fa{
        display:none;
    }

    @media (max-width:700px){
        .vertical-bar{
            display:none;
        }
        .banner-title{
            font-size:50px;
        }
        .notifications{
            width:100%;
        }
        .nav-bar{
           padding:10px 30px; 
        }
        .fa-bars{
            position:absolute;
            right:20px;
            top:10px;
        }
        
        .nav-bar .fa{
            display:block;
            color:white;
            margin:10px 25px;
            font-size:22px;
            cursor:pointer;
        }
        .nav-links{
            height:100vh;
            width:200px;
            background:#000;
            top:0;
            right:-200px;
            position:absolute;
            text-align:left;
            z-index:2;
            transition:0.5s;
        }

.nav-links ul a{
                display:inline-block;
                }
         
         
.nav-links .btn{
               float:none;
               margin-left:25px;
               margin-left:10px;
           } 
           .banner-title h1{
               font-size:30px;
               margin:0;
               padding:0;
               display:flex;
           }
        
    }

    /* CSS for the slideshow*/

    .slideshow {
        max-width: 800px;
        position: relative;
        margin: auto;
        border-radius: 50px;
      }
    
      .slideshow img {
        width: 100%;
        height: auto;
        display: none;
      }
    
      .slideshow img:first-child {
        display: block;
      }
      
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
    
      .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }


      .slideshow {
        width: 100%;
        height: 400px;
        overflow: hidden;
        position: relative;
        background-color: #00000000;
        padding-bottom: 100px;

      }
      
      .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        animation: slideShow 12s infinite;
        opacity: 0;
      }

      .slide img {
            border-radius: 50px;
      }

      .slide:nth-child(1) {
        animation-delay: 0s;
        border-radius: 50px;
      }
      
      .slide:nth-child(2) {
        animation-delay: 4s;
      }
      
      .slide:nth-child(3) {
        animation-delay: 8s;
      }
      
      .slide:nth-child(4) {
        animation-delay: 12s;
      }

      .slide:nth-child(5) {
        animation-delay: 16s;
      }

      @keyframes slideShow {
        0% {
          opacity: 0;
          transform: scale(1);
        }

        4% {
          opacity: 1;
        }

        33% {
          opacity: 1;
        }

        37% {
          opacity: 0;
          transform: scale(1.1);
        }

        100% {
          opacity: 0;
          transform: scale(1);
        }
      }
      